*.log
.DS_Store
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/www/fonts-manifest.dev.json
/www/hot
/www/storage
/public
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Storage
/storage/app/leases/*
!/storage/app/leases/.gitkeep

# Docker
/.docker
storage/.db_initialized
